
.navbar{
    display: flex;
    background-image: url('/img/grill.jpg');
    
}

.logo img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    padding: 14px;
    margin-left: 19px;
    
}
.navbar  ul{
    display: flex;


   
}
.navbar ul li{
    margin: 10px;
    padding: 15px;
    
    list-style-type: none;

   
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 12px;
    border-radius: 20px;
       
}

.navbar ul li a:hover
{
    color: black;
    background-color: white;
}